# Відкладені файли та теки
node_modules/
dist/

# Файли конфігурації
package-lock.json
.DS_Store

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Файли зі середовища
.env
.env.local
.env.development.local
.env.test.local
.env.production.local